@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --foreground-rgb: 0, 0, 0;
//   --background-start-rgb: 214, 219, 220;
//   --background-end-rgb: 255, 255, 255;
// }

:root{
    --signUpBackground: "#E3EAFF"
}

@media (prefers-color-scheme: dark) {

}

body {
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.active{
    color: #114CFE;
    // background: #114CFE;
}

