@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: var(--font-dosis);
}

:root{
    --signUpBackground: "#E3EAFF",
    --primaryBlueColor: "#114CFE"
}

@media (prefers-color-scheme: dark) {

}

body {
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.active{
    color: #114CFE;
    // background: #114CFE;
}

