.progress__container{
    /* border: 1px solid red; */
    margin-bottom: 15px;
}

.progress__header{
    display: flex;
    justify-content: space-between;

    & > p{
        color: #303030;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.02138rem;
        margin-bottom: 0.62rem;
    }
}

.resumeProgressBar {
    height: 10px;
    border-radius: 10px;
    // padding: 2px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
}

.resumeProgressBarInner{
    height: 100%;
}


.resumeKnowledge{
    width: 70%;
}